<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/styles.css">
    <title>Saxophones Directory</title>
</head>

<body>
    {{#saxophones}}
    <div class="directory-container">
        <p class="sax-container">{{model}}: {{manufacturer}}, {{yearAcquired}}, {{condition}}</p>
        {{/saxophones}}
        <button id="add-button" type="button" onclick="window.location='/saxophones/addsax'">Add a Saxophone!</button>
    </div>
</body>

</html>