<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/main.css">
    <title>Document</title>
</head>

<body>
    <form action="/saxophones/{{id}}" method="put">
        <div class="edit-form">
            <label for="">What year did you get this saxophone?</label>
            <input type="year" name="yearAcquired"><br>
            <label for="">What is the manufacturer and model of this saxophone?</label>
            <input type="text" name="manufacturer"><br>
            <label for="">What type of saxophone is this?</label>
            <select name="model">
            <option value="soprano">Soprano</option>
            <option value="alto">Alto</option>
            <option value="tenor">Tenor</option>
            <option value="baritone">Baritone</option>
        </select><br>
            <label for="">What condition is it in?</label>
            <select name="condition">
            <option value="lamp">lamp</option>
            <option value="playable">playable</option>
            <option value="good">good</option>
            <option value="pristine">pristine</option>
        </select><br>
            <label for="">Does this saxophone have an F# key?</label>
            <select name="fSharpKey">
            <option value="true">True</option>
            <option value="false">False</option>
        </select><br>
            <button type="submit">Edit that sucker!</button>
        </div>
    </form>
</body>

</html>