<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/styles.css">
    <title>Home</title>
</head>

<body>
    <div class="home-header">
        <img class="home-picture" src="http://ttusaxstudio.weebly.com/uploads/3/7/2/0/37207511/2631594_orig.jpg" alt="curtis-sax">
        <h2 class="home-text">I have a lot of saxophones. Care to check them out? Click below!</h2>
        <div class="home-buttons">
            <button id="home-redirect-button" type="button" onclick="window.location='/directory'">Check it out!</button>
            <button id="home-whoops-button" type="button" onclick="window.location='/whoops'">Don't click this one!</button>
        </div>
    </div>
</body>

</html>