<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/styles.css">
    <title>Are You Lost?</title>
</head>

<body>
    <div class="whoops-container">
        <img class="whoops-picture" src="https://media.giphy.com/media/pHTsh8qrEi5AA/giphy.gif">
        <h2 class="whoops-text">I told you not to click this one!</h2>
        <button id="whoops-button" type="button" onclick="window.location='/'">Click here to go back!</button>
    </div>
</body>

</html>